<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HOPE CARD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ml-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          {% if not request.user.is_staff %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href=>Admin</a></li>
              <li><a class="dropdown-item" href="{% url 'login' %}">Doctore</a></li>
              <li><a class="dropdown-item" href="#">Patient</a></li>
              
             
            </ul> 
          {% endif %}

          {% if request.user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                doctore
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">view dictore</a></li>
                <li><a class="dropdown-item" href="#">add doctore</a></li>
                
           </ul>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              malade
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <li><a class="dropdown-item" href="#">view malade</a></li>
              <li><a class="dropdown-item" href="#">add malade</a></li>
              </ul>
          {% endif %}
          
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>


          </li>
         {% endif %}
        </ul>
        </div>
        
      
    </div>
  </nav>
  <style>
   /* nav {
      background-color: rgb(65, 199, 44);

    }
  </style>