<nav class="navbar navbar-expand-lg  bg-dark fixed-bottom">
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="copyright-text">
                    <p class="text-white">university saida faculty of sience humain and cominication </p>
                </div>
            </div>
        </div>

    </div>

</div>
</nav>
<style>
   /* nav {
      background-color: rgb(65, 199, 44);

    }
  </style>